/* profilepage.css */

.profile-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pro {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.profile-details {
    margin-bottom: 20px;
}

.profile-field {
    margin-bottom: 10px;
}

.loginlabel {
    font-size: 16px;
    color: #666;
    display: block;
}

span {
    font-size: 16px;
    color: #333;
    display: block;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-actions {
    text-align: center;
}

.pro-but {
    background-color: #ff4500;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pro-but:hover {
    background-color: #e63946;
}


